{% extends 'base.html' %}

{% block content %}

    <div id="main-container">
        <div id="header-container">
            <h1 id="header-text">tic tac toe</h1>
            <h2 id="subheader-text">made by&nbsp;</h2>
            <button id="subheader-btn">shalin</button>
        </div>
        <div id="start-btn-container">
            <button class="start-btn" id="local-btn">local</button>
            <button class="start-btn" id="create-btn">create game</button>
            <input class="start-btn" type="text" id="join-input" placeholder="game code      ">
            <button class="start-btn" id="join-btn">join game</button>
            <div id="example-text">e.g. now-red-say</div>
        </div>  
    </div>  
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
