{% extends 'base.html' %}

{% block content %}
<div id="main-container">
    <div id="header-container">
        <h1 id="header-text">tic tac toe</h1>
        <button id="restart-btn">restart</button>
        <h2 id="subheader-text">by shalin</h2>
    </div>
    <div id="gameboard">
        <div class="grid" id="0"></div>
        <div class="grid" id="1"></div>
        <div class="grid" id="2"></div>
        <div class="grid" id="3"></div>
        <div class="grid" id="4"></div>
        <div class="grid" id="5"></div>
        <div class="grid" id="6"></div>
        <div class="grid" id="7"></div>
        <div class="grid" id="8"></div>
    </div>
    <script src="{{ url_for('static', filename='js/local.js') }}"></script>
{% endblock %}